<!DOCTYPE html>
<html>
	<head>
		 <link rel="stylesheet" href="css/bootstrap.css"> 
		
		<script src="js/bootstrap.js"></script>
		<script src="js/sendData.js"></script>
		<script src="js/jquery-3.5.1.min.js"></script>
		<script src="js/mutlipleselection.js"></script>
		<script src="js/autoTemplate.js"></script>
		 <script src="js/popper.min.js"></script> 
		<script src="js/tooltip.js"></script>
		

		<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		
		<script src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap-select.min.css">
	<script src="js/bootstrap-select.min.js"></script>
	
		
		<!-- Custom styles for this template -->
		 
		<title>Resulat du scan</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<body>
		<div class="container container-fluid">

			<div class="row">
				<h1>Open Centreon Discovery</h1>
				<svg width="50" height="50" viewbox="0 0 16 16" class="bi bi-hdd-network" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
					<path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
					<path fill-rule="evenodd" d="M7.5 10V7h1v3a1.5 1.5 0 0 1 1.5 1.5h5.5a.5.5 0 0 1 0 1H10A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5H.5a.5.5 0 0 1 0-1H6A1.5 1.5 0 0 1 7.5 10zm0 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
				</svg>

			</div>

			<div class="row no-border">


				<table class="table table-striped table-condensed" id="tableau">
					<thead>

						<tr>
						
							<th class="text-center"><input type="checkbox" value="" id="selectAll"></th>
							<th class="text-center">Serveur</th>
							<th class="text-center">Os</th>
							<th class="text-center">ip</th>
							<th class="text-center">Services</th>
							<th class="text-center">
								<button type="button" class="btn btn-primary" onclick="autoTemplate()" data-toggle="tooltip" data-placement="left" title="Permet d'appliquer automatiquement un template en fonction de l'OS détecté">Magie!</button>
							</th>
							<th class="text-center">Tpl 1</th>
							<th class="text-center">Tpl 2</th>
							<th class="text-center" >Poller</th>
						</tr>
						<tr></tr>
					</thead>
					<tbody>


						{% if hotes|length == 0 %}
							<div class="alert alert-warning" role="alert">
								Aucune machine détectée !
							</div>
						{% endif %}

						{% for Hosts in hotes %}
							
							
							<tr>
								<td>
									<div class="form-check"  data-toggle="tooltip" data-placement="top" title="Selectionner les machines à inserer dans Centreon">
										<input class="form-check-input" type="checkbox" value="" id="{{ Hosts.getIp }}" name="checkBox">
									</div>
								</td>
								<td>
									<label class="form-check-label" for="{{ Hosts.getIp }}">
										{{ Hosts.getHostName }} 
									</label>
								</td>
								<td>
									<label class="form-check-label" for="{{ Hosts.getIp }}">
										{{ Hosts.getOs }}
									</label>
								</td>
								<td>
									<label class="form-check-label" for="{{ Hosts.getIp }}">
										{{ Hosts.getIp }}
										
									</label>
								</td>
								<td>
								{% if Hosts.getServices is not empty  %}
									
										<a href="#"	data-toggle="tooltip" data-placement="left" data-html="true" title="
											
											{% for services in Hosts.getServices %}
															<li	 class='list-group-item list-group-item-dark' >{{services}}</li>					
											{% endfor %}
											">
									 
											<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-gear-fill" viewBox="0 0 16 16">
  												<path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
											</svg>
											 </a>
										{% endif %}
								</td>
								<td>

									<select class="selectpicker" data-live-search="true" title="Choisir" data-width="200px">
										<option selected></option>
										{% for templates in template  %}
											<option>{{ templates }}</option>
										{% endfor %}
									</select>
								</td>

								<td> 
									<select class="selectpicker" data-live-search="true" title="Choisir" data-width="100px">
										<option selected></option>
										{% for templates in template  %}
											<option>{{ templates }}</option>
										{% endfor %}
									</select>
								</td>

								<td>
									<select class="selectpicker" data-live-search="true" title="Choisir" data-width="100px" >
										<option selected></option>
										{% for templates in template  %}
											<option>{{ templates }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<select class="selectpicker" data-show-subtext="true" data-live-search="true" data-width="100px" >
										{% for poller in pollers %}
											<option selected>{{poller}}</option>
										{% endfor %}
									</select>
								</td>

								<td style="display:none">{{ Hosts.community }}</td>
								<td style="display:none">{{ Hosts.snmpVersion }}</td>

							</tr>

						{% endfor %}

					</tbody>
				</table>
				<form name="data" method="post" action="step2.php" id="data">
					<input type="hidden" value="" id="transmettre" name="data">
					<button type="submit" class="btn btn-primary" onclick="f1()">Valider</button>
				</form>

			</div>
		</div>
	</body>
</html>
